.main
  .main__header
    .main__header__group
      = @group.name
    .main__header__nickname
      Menber : 
      - @group.users.each do |user|
        = user.name

    = link_to "Edit", edit_group_path(@group.id), class: "main__header__btn main__header__btn--edit"

  .main__chatBox
    = render @messages

  = form_for [@group, @message] do |f|
    .main__footer
      .main__footer__formBox
        = f.text_field :body, placeholder: "type a message", class: "main__footer__formBox__text"
        = f.label :image, class: "main__footer__formBox__pic" do
          %i.far.fa-images
          = f.file_field :image, class: "main__footer__formBox__pic--icon"
      = f.submit "Send", class: "main__footer__formBtn"