.side
  .side__header
    .side__header__box
      .side__header__box__nickname
        = current_user.name
      .side__header__box__linkBox
        = link_to new_group_path, class: "side__header__box__linkBox__btn side__header__box__linkBox__btn--pen" do
          = icon('fas', 'edit', class: "side__header__box__linkBox__btn--icon")
          %span<>
        = link_to edit_user_path(current_user), class: "side__header__box__linkBox__btn side__header__box__linkBox__btn--gear" do
          = icon('fas', 'cog', class: "side__header__box__linkBox__btn--icon")
          %span<>

  .side__group
    - current_user.groups.each do |group|
      .side__group__box
        = link_to  do
          .side__group__box__title
            %a= group.name
          .side__group__box__message
            %aメッセージはまだありません。