.side
  .side__header
    .side__header__box
      .side__header__box__nickname
        = current_user.name
      .side__header__box__linkBox
        = link_to "#", class: "side__header__box__linkBox__btn side__header__box__linkBox__btn--pen" do
          = icon('fas', 'edit', class: "side__header__box__linkBox__btn--icon")
          %span<>
        = link_to edit_user_path(current_user), class: "side__header__box__linkBox__btn side__header__box__linkBox__btn--gear" do
          = icon('fas', 'cog', class: "side__header__box__linkBox__btn--icon")
          %span<>

  .side__group
    .side__group__box
      = link_to "techcamp", "#", class: "side__group__box__title"
      .side__group__box__message
        message
    
    .side__group__box
      = link_to "techcamp", "#", class: "side__group__box__title"
      .side__group__box__message
        message

    .side__group__box
      = link_to "techcamp", "#", class: "side__group__box__title"
      .side__group__box__message
        message
    
    .side__group__box
      = link_to "techcamp", "#", class: "side__group__box__title"
      .side__group__box__message
        message

    .side__group__box
      = link_to "techcamp", "#", class: "side__group__box__title"
      .side__group__box__message
        message

    .side__group__box
      = link_to "techcamp", "#", class: "side__group__box__title"
      .side__group__box__message
        message

    .side__group__box
      = link_to "techcamp", "#", class: "side__group__box__title"
      .side__group__box__message
        message

    .side__group__box
      = link_to "techcamp", "#", class: "side__group__box__title"
      .side__group__box__message
        message